// --------------------------------------------------------------------------------------------- 576 (responsive markup)

@media (max-width: 575px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
    }

    // ----------------------------------------------------- header - done

    // background-color: #7d969b

    .header {
        background-image: url(../img/header/header-bcg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    
        &__wrap-top {
            position: relative;
            padding-top: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 234px;
        }
    
        &__logo {
            margin-right: 212px;
            img {
                width: 110px;
                height: 55px;
            }
        }
    
        &__burger {
            display: block;
            position: absolute;
            top: 32px;
            right: 4px;
            width: 30px;
            height: 20px;

            z-index: 5;

            &::before, &::after {
                content: "";
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 3px;
                right: 0;
                transition-duration: 200ms;
                border-radius: 15px;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
                width: 17px;
            }
            span {
                position: absolute;
                background-color: #fff;
                width: 100%;
                height: 3px;
                left: 0;
                top: 8.5px;
                transition-duration: 200ms;
                border-radius: 15px;
            }
        }

        &__burger {
            &.active::before {
                transform: rotate(45deg);
                top: 6px;
            }
            &.active::after {
                transform: rotate(-45deg);
                bottom: 11px;
                width: 100%;
            }
            &.active span {
                transform: scale(0);
            }
        }
    
        &__menu {
            display: block; // убираю flex
            position: fixed;
            width: 100%;
            height: 100%; 
            top: 0;
            left: 100%;

            z-index: 4;

            background: #1A3E3E;
            padding: 60px 35px 0px 35px;
            text-align: center;
            transition-duration: 200ms;
            transition-timing-function: ease-out;

            text-align: left;
        }

        &__menu.active {
            left: 0;
        }
    
        &__link {
            position: relative;
            width: 125px;

            &:first-child {
                display: none;
            }

            margin: 0px 0px 25px 0px; // обнуляю у style m-right + 25px
            &:last-child {
                margin: 0px 0px 0px 0px;
            }

            a {
                color: #fff;
                font-family: 'Nunito Sans', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/header/menu-link-active.svg);
                    background-repeat: no-repeat;
                    margin: 0px 0px 0px -15px;
                }
            }
        }
    
        &__button-top {
            display: none; // убираю кнопку
        }
    
        &__wrap-bot {
            padding-bottom: 50px;
        }
    
        &__title {
            width: 100%;
            color: #FDFDFD;
            font-family: NextArt-Bold;
            //font-size: 28px;
            font-size: 22px;
            //line-height: 42px;
            line-height: 36px;
            letter-spacing: 1px;
            margin-bottom: 32px;
        }
    
        &__choice {
            padding: 0px 0px; // обнуляю у style
            background: transparent;
            backdrop-filter: blur(0px);
            display: block; // обнуляю flex
        }
    
        &__item {
            display: none; // убираю блок
        }
    
        &__button-bot {
            width: 210px;
            transform: translateY(0px); // обнуляю у style
            a {
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;

                color: #1A3E3E;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.192px;
                border-radius: 4px;
                background-color: #FDFDFD;
            }
        }
    }
    
    .button {
        width: 157px;
        a {
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;

            color: #FDFDFD;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.192px;
            border-radius: 4px;
            background-color: #1A3E3E;
        }
    }

}